@model AccountType

@{
    ViewData["Title"] = "Create Account Type";
}

<h1>Create Account Type</h1>

<h5>The account type refers to how we can group accounts.
    Examples: loans, cretdit cards, etc.
</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
    <a asp-action="Index" class="btn btn-secondary" >Cancel</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}