@model Account

@{
    ViewData["Title"] = "Delete Account";
}

<h3>Are you sure you want to delete the @Model.Name account?</h3>

<form asp-action="DeleteAccount">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
