@{
    ViewData["Title"] = "Element Not Found";
}

<h1>The requested resource has not been found</h1>

<a asp-controller="AccountsTypes" asp-action="Index">Click here to return to the list of account types.</a>
