@{
    ViewData["Title"] = "Calendar Report";
}

<partial name="_SubMenu" Model="TransactionsSubMenu.Calendar" />

<div id="calendar"></div>

@section Scripts{
    <script src="~/lib/fullcalendar/main.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                dayMaxEventRows: 3,
                initialView: 'dayGridMonth',
                events: [
                    {
                        title: '2,500',
                        start: '2022-05-31',
                        end: '2022-05-31'
                    },
                    {
                        title: '1,500',
                        start: '2022-05-31',
                        end: '2022-05-31',
                        color: 'red'
                    },
                    {
                        title: '700',
                        start: '2022-05-31',
                        end: '2022-05-31'
                    },
                    {
                        title: '800',
                        start: '2022-05-31',
                        end: '2022-05-31',
                        color: 'red'
                    },
                    {
                        title: '585.99',
                        start: '2022-05-31',
                        end: '2022-05-31'
                    },
                    {
                        title: '300',
                        start: '2022-06-01',
                        end: '2022-05-31',
                        color: 'red'
                    }
                ]
            });

            calendar.render();
        })
    </script>
}
