@{
    ViewData["Title"] = "Calendar Report";
}

<partial name="_SubMenu" Model="TransactionsSubMenu.Calendar" />

<div id="calendar"></div>

@section Scripts{
    <script src="~/lib/fullcalendar/main.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                dayMaxEventRows: 3,
                initialView: 'dayGridMonth',
                events: '/transactions/GetCalendarTransactions',
                dateClick: async function(info){
                    await findTransactionsByDate(info.dateStr);
                }
            });
            calendar.render();
        });

        async function findTransactionsByDate(date) {
            const response = await fetch(`/Transactions/GetTransactionsByDate?date=${date}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const json = await response.json();
            console.log(json);
        }

    </script>
}
