#reordenable tr {
    cursor: move;
}

.container-totals {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center
}

.positiveBalance {
    color: blue;
}

.negativeBalance {
    color: red;
}
